.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 9fr 1fr;
}

.main__left {
  background-color: #1f1e1e;
  grid-column: 1/2;
  width: 15%;
  max-height: 745px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
}

.dots-icon {
  font-size: 20px;
  color: #a8a6a6;
  margin-top: 10px;
  margin-left: 10px;
}

.nav__top {
  margin-top: 20px;
  margin-left: 20px;
}

.nav__top > a {
  color: #a8a6a6;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.nav__top > a:hover {
  color: white;
}
.nav__top > a:focus {
  border-left: 3px solid #06be06;
}

.home-icon {
  font-size: 20px;
  color: #a8a6a6;
  padding-right: 10px;
}
.home-icon:hover {
  color: white;
}

.browse-icon {
  font-size: 20px;
  color: #a8a6a6;
  padding-right: 10px;
}
.browse-icon:hover {
  color: white;
}

.radio-icon {
  font-size: 20px;
  color: #a8a6a6;
  padding-right: 10px;
}
.radio-icon:hover {
  color: white;
}

.main__left-middle-nav {
  margin-top: 40px;
  margin-left: 20px;
}

.nav__title {
  color: #a8a6a6;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 0.3em;
  text-decoration: none;
  margin-bottom: 10px;
}

.nav__text--bold {
  color: #a8a6a6;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  line-height: 2;
}
.nav__text--bold:hover {
  color: white;
}

.main__left-bottom-nav {
  margin-top: 40px;
  margin-left: 20px;
}

.nav__text {
  color: #a8a6a6;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-decoration: none;
  line-height: 2;
}
.nav__text:hover {
  color: white;
}

.main__middle {
  grid-column: 2/3;
  background-color: #1f1e1e;
  max-height: 745px;
  height: 100%;
}

.main__middle-nav-top {
  width: 70.75%;
  height: 50px;
  overflow: hidden;
  background-color: #1f1e1e;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 10px;
  z-index: 2;
}

.back-icon {
  font-size: 25px;
  color: #a8a6a6;
  margin-left: 30px;
}
.back-icon:hover {
  color: white;
}

.forward-icon {
  font-size: 25px;
  color: #a8a6a6;
  margin-left: 20px;
}
.forward-icon:hover {
  color: white;
}

.search {
  max-width: 150px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid black;
  color: black;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
}

.main__left-middle-nav-right {
  grid-column: 2/3;
  width: 70%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.profile {
  color: #a8a6a6;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.profile:hover {
  color: white;
  text-decoration: underline;
}

.profile-pic {
  font-size: 40px;
}

.down-icon {
  font-size: 25px;
  color: #a8a6a6;
  margin-left: 5px;
  margin-top: 15px;
}
.down-icon:hover {
  color: white;
}

.main__middle-nav--sticky {
  background: linear-gradient(dimgray, #1f1e1e);
  opacity: 1;
  height: 120px;
  padding-top: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #a8a6a6;
}

.sticky__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-left: 20px;
}

.sticky__nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 40px;
}

.sticky__text {
  color: #a8a6a6;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 30px;
  text-decoration: none;
  font-weight: bold;
}
.sticky__text:hover {
  color: white;
  border-bottom: 2px solid #06be06;
}
.sticky__text:focus {
  color: white;
  border-bottom: 2px solid #06be06;
}

.first-sticky {
  margin-left: 0px;
}

.main__grid {
  /*fix the scroll bar and that the grid does not go all the way down*/
  max-height: 550px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  overflow: scroll;
}

.main__grid-genre {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__grid-genre > a {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
}
.main__grid-genre > a:hover {
  text-decoration: underline;
}

.genre-icon {
  color: white;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.blue {
  background: linear-gradient(#006eff, #033966);
}

.green {
  background: linear-gradient(#20c420, #015501);
}

.purple {
  background: linear-gradient(#f344f3, #550055);
}

.orange {
  background: linear-gradient(#f3bc55, #df9204);
}

.red {
  background: linear-gradient(#f34242, #830202);
}

.main__right {
  background-color: #1f1e1e;
  grid-column: 3/4;
  width: 15%;
  max-height: 745px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
}

.main__right-title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #a8a6a6;
  margin-top: 60px;
  margin-left: 15px;
}

.friend {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.friend__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.friend__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.friend__title:hover {
  text-decoration: underline;
  color: white;
}

.friend-icon {
  /*add play button hover to faces*/
  color: white;
  font-size: 40px;
}

.friend__text {
  color: #a8a6a6;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.friend__text:hover {
  text-decoration: underline;
  color: white;
}

.friend__button {
  background-color: #1f1e1e;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 50px;
}
.friend__button:hover {
  transform: scale(1.2);
}

.player {
  background-color: #272727;
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/4;
  z-index: 1;
}

.play-button {
  font-size: 40px;
  color: white;
}